@font-face {
	font-family: 'rsu regular';
	src: url('rsu_regular-webfont.eot');
	src: url('rsu_regular-webfontd41d.eot?#iefix') format('embedded-opentype'),
		url('rsu_regular-webfont.woff') format('woff'),
		url('rsu_regular-webfont.ttf') format('truetype'),
		url('rsu_regular.svg') format('svg');

}